<div class="row">
  <h2>Employees</h2>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [formControl]="searchFormControl">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<table mat-table [dataSource]="store.vmEmployees()" matSort (matSortChange)="store.updateSort($event)">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
    <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
    <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
  </ng-container>

  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
    <td mat-cell *matCellDef="let employee">{{ employee.department }}</td>
  </ng-container>

  <ng-container matColumnDef="equipment">
    <th mat-header-cell *matHeaderCellDef>Equipment</th>
    <td mat-cell *matCellDef="let employee">{{ employee | employeeEquipment }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let employee">{{ employee.status | titlecase }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row (click)="chooseEmployee(employee)" *matRowDef="let employee; columns: columnsToDisplay;"></tr>
</table>
